node_modules/
www/
.redesign_handoff/
*.keystore
*.jks

# Android build outputs
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/capacitor-cordova-android-plugins/build/
